<div class="block_menu">
    <div style="max-width: 100%; height: 100%">
        <div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Grabar_Click();" style="">
                <span class="boton1Span">
                    <img class="boton1Img csBtnGuardar" alt="Grabar" src="/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Grabar</span>
            </button>
        </div>

        <div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Salir_Click();" style="">
                <span class="boton1Span">
                    <img class="boton1Img csBtnSalir" alt="Salir" src="/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Salir</span>
            </button>
        </div>
    </div>
</div>
