<div class="block_menu">
    <div style="max-width: 100%; height: 100%">
        <div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Buscar_Click();" style="">
                <span class="boton1Span">
                    <img class="boton1Img csBtnBuscar" alt="Buscar" src="/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Buscar</span>
            </button>
        </div>
        <div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Limpiar_Click();" style="">
                <span class="boton1Span">
                    <img class="boton1Img csBtnLimpiar" alt="Limpiar" src="/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Limpiar</span>
            </button>
        </div>
        <div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Salir_Click();" style="">
                <span class="boton1Span">
                    <img class="boton1Img csBtnSalir" alt="Salir" src="/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Salir</span>
            </button>
        </div>

        <div class="pull-right">
            <button class="SeparatorLeft boton1Style boton1" ng-click="CarritoGo_Click();" style="">
                <span class="boton1Span">
                    <img class="boton2Img " alt="Agregar" src="/Images/Botonera/shopping-cart.png">
                </span>
                <span class="boton1txt">Carrito</span>
            </button>
        </div>
    </div>
</div>
