@{
    Layout = null;
}
<div id="HomeSeccionIzquierda" class="left centrado anchoSlide" style="border: 1px solid black; background-color: #DCEDF7; width: 70%; height: 99%; position: relative; text-align: center">

    <div id="banner" style="height: 100%; margin-left: 30pt; margin-right: 6pt">

        <section id="features" class="blue" style="width: 98%">
            <div>
                <div class="slider center">



                    <div>
                        <h3>
                            <img src="~/Images/Imagen_1.jpg" class="imgslick">
                        </h3>
                    </div>

                    <div>
                        <h3>
                            <img src="~/Images/Imagen_2.jpg" class="imgslick">
                        </h3>
                    </div>

                    <div>
                        <h3>
                            <img src="~/Images/Imagen_1.jpg" class="imgslick">
                        </h3>
                    </div>

                    <div>
                        <h3>
                            <img src="~/Images/Imagen_2.jpg" class="imgslick">
                        </h3>
                    </div>

                </div>
            </div>
        </section>


        <div class="autoplay center" style="">
            <!------------------------------------------------------------------>






            <!------------------------------------------------------------------>
        </div>

    </div>
</div>
<div id="HomeSeccionDerecha" class="right derecho anchoFrm" style="width: 30%;">
    <div id="frmLogin" class="block_content">

        <form data-action="/formulario" id="scriptorForm_1802e4ba-87e5-41fc-b6be-7996d3ec277c" method="post" enctype="multipart/form-data" action="/formulario" class="DivContentForm ng-pristine ng-valid" target="frmLoginIframe">
            <input data-optional="True" id="Channel" name="Channel" type="hidden" value="22953895-f5b5-4ce8-8c1e-ab66060eacb6">
            <div class="fieldLine field-title" data-field-name="Usuario">
                <label for="Usuario">Usuario</label>
                <input class="input600 soloalfanumerico inc_arroba inc_backslash inc_punto inc_menos valid" maxlength="50" type="text" name="Usuario" id="Usuario" value="" data-val="true" placeholder="Usuario">
                <span class="field-validation-valid" data-valmsg-for="Usuario" data-valmsg-replace="true"></span>
            </div>
            <div class="fieldLine field-password" data-field-name="Contrasena">
                <label for="Contrasena">Contraseña</label>
                <input class="input600 valid" placeholder="Contraseña" type="password" name="Contrasena" id="Contrasena" value="" data-val="true" maxlength="50">
                <span class="field-validation-valid" data-valmsg-for="Contrasena" data-valmsg-replace="true"></span>
            </div>
            <input type="hidden" name="formSignature" value="00000000-0000-0000-0000-000000000000">
            <input type="hidden" name="formSignatureId" value="6f95c899-c965-45c8-a0ac-d220dd14da2e">

            <input name="submit" type="submit" value="Ingresar">
        </form>

        <div class="fila" style="display: none;">
            <span class="textoLogin">Si olvidó su contraseña, <a href="#" id="btnOlvido">click aqui</a></span>
        </div>
        <div class="fila" style="display: none;">
            <span class="textoLogin">Nuevo usuario, <a href="#" id="btnRegistro">Registrarse</a></span>
        </div>
        <iframe name="frmLoginIframe" id="frmLoginIframe" style="display: none;" src="about:blank"></iframe>
    </div>
</div>

<script>
 
</script>








